/* Font styling */
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

/* Navigation*/
.navbar {
  display: flex;
  top: 0;
  background: #ffffff;
  color: #f30501; /* Deze variable omzetten naar een custom property? Je gebruikt hem vaker..*/
  justify-content: space-between;
  z-index: 10;
  padding: 1rem 116px; /* waarom verschillende eenheden gebruiken? */
  font-size: 18px;
  font-weight: 300;
  height: 65px;
  box-shadow: 0 4px 10px 0 #333333;
}

.navbar__logo {
  height: 55px;
  width: 55px;
  margin-top: -16px; /* Altijd opletten als je dit gaat doen, is het nodig? Denk aan je flow */
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  flex: 4; /* Wat doet dit? flex: 1 === flex: 1 0 auto */
  padding-left: 120px;
}

.navbar ul li {
  padding: 0.75rem;
  margin: 0 0.25rem;
}

.navbar ul li a {
  color: #f30501;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #ffffff; /* variable? */
  background-color: #f30501;
  text-decoration: none; /* Kan weg, heb je hierboven al staan */
  padding: 1.5rem 0.1rem; /* 0.1rem kan geschreven worden als .1rem */ 
}

/* Section: Showcase */
.showcase {
  display: flex;
  justify-content: space-around;
  background-color: #f30501;
  color: #ffffff;
  padding: 2rem 10% 0rem 0;
  align-items: center;
  z-index: 1; /* ?? */
}

.showcase__heading {
  font-family: "Lakki Reddy", cursive;
  font-weight: 700;
  font-size: 70px;
  padding-top: 0;
  vertical-align: middle; /** Werkt dit? **/
}

/* Section: Brands */
.brands {
  background-color: #f30501;
}

.brands ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0; /** Default ul heeft padding, weghalen om controle te houden */
}

.brands ul li {
  width: 25%; /* Ik zou hier toch echt voor flex-basis gaan */
  height: 356px;
}

.brands ul li img {
  width: 100%; /* als je een kleinere afbeelding hebt wordt hij nu uitgerekt, als je max-width gebruikt niet */
}

/* Section: History */
.history {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem;
  background-color: #46a916;
  color: #ffffff;
}

.history img {
  width: 50%;
}

.history__heading {
  font-family: "Lakki Reddy", cursive; /* font-family in een custom property zetten? */
  font-size: 28px;
}

.history a {
  text-decoration: none;
  color: #ffffff;
}

.history a::after {
  content: "→";
  padding-left: 10px;
}

/* Section: Discover */
.discover {
  background-color: #fd0;
  color: #ffffff;
  padding: 4rem 6rem;
  align-items: center;
}

.discover__heading {
  font-family: "Lakki Reddy", cursive; /* als al je headings dit font hebben mag je het ook doen op de manier zoals hier onder */
  font-size: 34px;
  text-align: center;
  color: #f30501;
}

h1, h2, h3, h4 {
  font-family: "Lakki Reddy", cursive; 
}

.discover__items {
  display: flex;
  justify-content: flex-start; /* dit is default en kan weg */
  padding: 2rem 0;
}

.discover__single-item {
  width: 33%; /* probeer het met flex-basis op te lossen */
  position: relative; /* why ? */
}

.discover__image {
  width: 100%;
}

.discover__heading-small {
  font-family: "Lakki Reddy", cursive;
  font-size: 28px;
  position: absolute; /* Geen andere manier om dit te positioneren? */
  text-align: center;
  top: 45%;
  width: 100%;
}

.discover__button-container {
  display: flex;
  justify-content: center;
}

.discover__button {
  text-decoration: none;
  color: #f30501;
  padding: .75rem;
  border: 1px solid #f30501;
  border-radius: 20px;
}

/*Footer*/
footer {
  background-color: #f30501;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6rem;
  font-size: 18px;
  font-weight: 300;
}

.footer__block-logo img {
  width: 80px;
}

.footer__block-copyright img {
  width: 30px;
}

.footer__block-copyright ul {
  list-style: none;
}

.footer__block ul {
  list-style: none;
  padding-bottom: 3rem;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.foot__block-disclaimer p {
  width: 50%;
}
/**

Conclusie
=========
Ik mis het gebruik van flex grow / flex shrink opties, maar dat kan door hoe je bepaalde dingen anders hebt opgelost.
Wees consistent in je gebruik van eenheden (px / rem)
Als je waarden als fonts en kleuren vaker gebruikt, beter custom properties van maken
Hier en daar wat left-overs die niets doen en weg kunnen...

*/
